/* Board Page */
.container-content {
    padding: 1rem !important;
    height: calc(100vh - 56px) !important;
}

.grid {
    max-height: 100% !important;
    display: flex !important;
    overflow-x: auto !important;
    padding: 1rem !important;
}

.grid-column {
    height: 100% !important;
    padding: 1rem !important;
    width: 300px !important;
}

.CardList {
    max-height: 100% !important;
    width: 300px !important;
}

.HeaderSegment {
    height: 30px !important;
    border-bottom: 0 !important;
    font-weight: bold !important;
    padding: 0.5em !important;
}

.ButtonSegment {
    height: 50px !important;
    border-top: 0 !important;
    display: flex;
    justify-content: center !important;
    padding: 0.5em !important;
}

.CardSegment {
    max-height: calc(100% - 80px)!important;
    overflow-y: scroll !important;
    border-top: 0 !important;
    border-bottom: 0 !important;
    padding: 0 0.5em !important;
}

.cards {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.card {
    margin-top: 0.25em !important;
    margin-bottom: 0.25em !important;
}

.container {
    padding-bottom: 15px !important;
    padding-top: 15px !important;
}

.segment {
    background-color: lightblue !important;
}
