/* Global Layout */
.layout {
    height: calc(100vh - 56px - 3rem) !important;
    overflow-x: auto !important;
    margin: 2rem 2rem 1rem 2rem !important;
}

/* Board Page */
.board {
    max-height: 100% !important;
    display: flex !important;
    padding-bottom: 1rem !important;
}

/* Board Column Element */
.board-column {
    padding: 0 1rem !important;
    max-height: 100% !important;
}

.board-column:first-child {
    padding-left: 0 !important;
}

.board-column:last-child {
    padding-right: 0 !important;
    min-width: 314px !important;
} 

/* Card List Component */
.card-list {
    max-height: 100% !important;
    display: flex !important;
    width: 300px !important;
}

/* Header Segment Component */
.header-segment {
    height: 40px !important;
    border-bottom: 0 !important;
    font-weight: bold !important;
    padding: 0.5em 1.25em 0.5em 0.5em !important;
    background-color: lightgrey !important;
}

/* Cards Segment Component */
.cards-segment {
    max-height: calc(100% - 90px) !important;
    overflow-y: auto !important;
    border-top: 0 !important;
    border-bottom: 0 !important;
    padding: 0 0.5em !important;
    background-color: lightgrey !important;
}

/* Button Segment Component */
.button-segment {
    min-height: 50px !important;
    border-top: 0 !important;
    display: flex;
    justify-content: center !important;
    padding: 0.5em !important;
    background-color: lightgrey !important;
}

/* Card Component */
.card {
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
}

/* List Name Element */
.list-name {
    background-color: transparent !important;
    width: 100% !important;
    border: 0 !important;
    height: 30px !important;
    font-size: 20px !important;
    resize: none !important;
    padding: 5px !important;
    overflow-y: hidden !important;
}

.list-name:focus {
    background-color: white !important;
    border-radius: 2px !important;
}
